.attack-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s ease;
    z-index: 9999;
}

/* When visible */
.attack-overlay.active {
    opacity: 1;
    pointer-events: auto;
}

/* Center card */
.attack-overlay-content {
    background: #222;
    padding: 2rem;
    border-radius: 1rem;
    max-width: 450px;
    width: 90%;
    text-align: center;
    position: relative;
}

/* Close button */
.attack-overlay-close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    color: tomato;
}

#overlayTitle {
    margin-bottom: 0.5rem;
    font-size: 1.8rem;
    color: #94f5c7;
    text-decoration: underline;
}

.attack-overlay-content h4 {
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    color: #94f5c7;
}

#overlaySubtitle {
    margin-bottom: 1rem;
    font-size: 1.1rem;
    color: #ffffff;
    font-weight: normal;
}

#attack-overlay p {
    color: #ffffff;
    line-height: 1.4;
    margin-bottom: 1rem;
}