<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='global.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='attackbutton.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='attackoverlay.css') }}">
</head>
<body>
  <div class="layout-grid">
    <header>
      {% block header %}
      <div class ="header-title">
      <h1><a href="{{ url_for('homepage') }}">Critical Job Bank </a> </h1>
      </div>

      <div class="header-account">
        <div class="header-account-link">Kia Ora, Mr Person</div>

        <div class="header-dropdown">
          <a href="{{ url_for('settings') }}">⚙ Settings</a>
          <a href="{{ url_for('splash') }}">꩜ Logout</a>
        </div>
      </div>
      {% endblock %}
    </header>

    <nav class="sidebar">
      {% block sidebar %}
      <ul>
        <li><a href="{{ url_for('my_accounts') }}">My Accounts</a></li>
        <li><a href="{{ url_for('my_cards') }}">My Cards</a></li>
        <li><a href="{{ url_for('transfer_funds') }}">Transfer Funds</a></li>
        <li><a href="{{ url_for('my_insurance') }}">My Insurance</a></li>
        <li><a href="{{ url_for('attacks') }}">Attacks</a></li>
        <li><a href="{{ url_for('tutorials') }}">Tutorials</a></li>
        <li><a href="{{ url_for('aboutus') }}">About Us</a></li>
        <li><a href="{{ url_for('help') }}">Help</a></li>
      </ul>
      {% endblock %}
    </nav>

    <main>
      {% block content %}

      {% endblock %}
    </main>
  </div>

   <!-- attack buttons -->
  {% include "components/attack_buttons.html" %}
  {% include "components/attack_overlay.html" %}
  <script src="{{ url_for('static', filename='attackbutton.js') }}"></script>

  
  

</body>
</html>