<!-- Jinja2 for resusability-->
{% extends "Base.html" %}
{% block title %}Homepage{% endblock %}
<!-- main content change this per page-->
{% block content %}
<div class="home-container">

    <h2 class="home-title">Kia Ora, Welcome back to the Critical Vault</h2>

    <div class="card-grid">

        <!-- Account Summary -->
        <a href="{{ url_for('my_accounts') }}" class="card-link">
            <div class="acc-card">
                <img src="{{ url_for('static', filename='images/vdop16-9.jpg') }}" 
                     alt="Account Summary" class="home-image">
                <h3>Account Summary - Cheque</h3>
                <p>Current balance - $3095.41. You have 4 other active accounts.</p>
            </div>
        </a>

        <!-- Recent Transactions -->
        <a href="{{ url_for('transfer_bp.transfer_funds_page') }}" class="card-link">
            <div class="card recent-transactions">
                <img src="{{ url_for('static', filename='images/techy.jpg') }}" 
                     alt="Recent Transactions" class="home-image">

                <h3>Recent Transactions</h3>

                <ul>
                    <li>Payment to John - $120.00</li>
                    <li>Deposit - $500.00</li>
                    <li>Transfer to Savings - $200.00</li>
                </ul>

                <p>You have 5 new transactions this week.</p>
            </div>
        </a>

        <!-- News -->
        <div class="card">
            <img src="{{ url_for('static', filename='images/16-9news.jpg') }}" 
                 alt="Bank News" class="home-image">
            <h3>Latest News</h3>
            <p>Stay updated with account alerts, updates, and security notices.</p>
        </div>

        <!-- Insurance -->
        <a href="{{ url_for('my_insurance') }}" class="card-link">
            <div class="ins-card">
                <img src="{{ url_for('static', filename='images/Vault16-9.png') }}" 
                     alt="Insurance Card" class="home-image">
                <h3>Apply for Insurance</h3>
                <p>Combine your plans, for a premium that's practically pocket change!</p>
            </div>
        </a>
    </div>
  </div>
{% endblock %}