<!-- Jinja2 for resusability-->
{% extends "Base.html" %}
{% block title %}Homepage{% endblock %}
<!-- main content change this per page-->
{% block content %}
  <div class="dashboard-grid">
  <section class="card account-summary">
    <h2>Account Summary</h2>
    <p>Balance: $2,345.00</p>
  </section>

  <section class="card recent-transactions">
    <h2>Recent Transactions</h2>
    <ul>
      <li>Payment to Grocery Mart - $54.20</li>
      <li>Deposit - $500.00</li>
    </ul>
  </section>

  <section class="card news">
    <h2>Bank News</h2>
    <p>We’ve upgraded our security systems.</p>
  </section>
</div>
{% endblock %}