<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login Page</title>
        <link rel="stylesheet" href="/static/global.css">
        <link rel="stylesheet" href="/static/Login.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='attackbutton.css') }}">
</head>

<body>
        <div class="login-container">
                <div class="login-card">
                        <h2 class="title">Sign in</h2>

                        <form class="login-form" method="get" action="Homepage.html" name="login">
                                <div class="form-group">
                                        <label for="username">Username</label>
                                        <input type="text" id="username" name="username" required
                                                autocomplete="username">
                                </div>
                                <div class="form-group">
                                        <label for="password">Password</label>
                                        <input type="password" id="password" name="password" required
                                                autocomplete="current-password">
                                </div>
                                <div class="form-group">
                                        <button type="submit">Login</button>

                                </div>
                                <div class="form-links">
                                        <p class="help">Forgot your password?
                                                <a href="">Reset</a>
                                        </p>
                                        <p class="signup">Don't have an account?
                                                <a href="{{ url_for('signup.signup_page') }}"> Sign up</a>
                                        </p>
                                        
                                </div>
                        </form>
                </div>
        </div>
        {% include 'components/attack_buttons.html' %}
        <script src="{{ url_for('static', filename='attackbutton.js') }}"></script>
        
        <script>
    // Check if URL has a "msg" parameter
    const params = new URLSearchParams(window.location.search);
    const msg = params.get('msg');

    if (msg) {
        alert(msg); // small popup
        
        setTimeout(() => {
            window.location.href = window.location.pathname;
        }, 2000); 
    }
</script>
</body>

</html>