
<!-- Jinja2 for resusability-->
{% extends "Base.html" %}
{% block title %}My Accounts{% endblock %}
<!-- main content change this per page-->
{% block content %}
<section class = accounts-container><h1 class="acc-title">My Accounts </h1>
    

    {% set placeholder = url_for('static', filename='images/pantera.jpg') %}

  
    
    <div class="accounts-grid">
           <!-- placeholder image for accounts -->
            {% for i in range(5) %}
                <div class="account-card">
                    <div class="account-image" style="background-image: url('{{ placeholder }}')" aria-hidden="true"></div>
                    <div class="account-name">Account {{ i + 1 }}</div>
                </div>
            {% endfor %}
    </div>
</section>


{% endblock %}