{% extends "Base.html" %} {% block title %}Attacks{% endblock %} {% block content %}
<hr>
<div class ="reviews-header">
<h3>Reviews:</h3>
</div>
<div class="reviews-list">
    {% for r in reviews %}
    <div class="review-card">
        <!-- Username above the comment box -->
        <strong class="review-username">{{ r.user }}</strong>

        <!-- Comment box -->
        <div class="comment-box">
            <p>{{ r.text.strip() | safe }}</p>
        </div>
    </div>
    {% endfor %}
</div>  
<div class="review-form-container">
    <form action="{{ url_for('reviews') }}" method="POST">
        <textarea name="review" class="review_input" placeholder="Write your review here..." required></textarea>
        <br>
        <button type="submit" class="review_button">Submit</button>
    </form>

    <!-- Clear Reviews Button -->
    <form action="{{ url_for('clear_reviews') }}" method="POST" style="margin-top:1rem;">
        <button type="submit" class="clear_reviews_button">Clear Reviews</button>
    </form>
</div>
{% endblock %}