<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sign Up</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='global.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='Login.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='attackbutton.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='tutorialbutton.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='attackoverlay.css') }}">
</head>

<body>
        <div class="logging-grid">
                <div class="logo-container">
                        <a href="{{ url_for('splash') }}">
                                <img class="logo" src="{{ url_for('static', filename='/images/Logo.png') }}"
                                        alt="Logo" />
                        </a>
                </div>
                <div class="login-container">
                        <div class="login-card">
                                <h2 class="title">Sign up</h2>

                                <form class="login-form" action="{{ url_for('signup.signup_page') }}" method="POST"
                                        name="signup">
                                        <div class="form-group">
                                                <label for="username">Username</label>
                                                <input type="text" id="username" name="username" required
                                                        autocomplete="username">
                                        </div>
                                        <div class="form-group">
                                                <label for="password">Password</label>
                                                <input type="password" id="password" name="password" required
                                                        autocomplete="current-password">
                                        </div>
                                        <div class="form-group">
                                                <button type="submit">Create Account</button>
                                        </div>
                                        <p class="help">Already have an account? <a
                                                        href="{{ url_for('login_bp.login') }}">Login</a></p>
                                </form>
                        </div>
                </div>

                {% include 'components/attack_buttons.html' %}
                {% include 'components/attack_overlay.html' %}
                <script src="{{ url_for('static', filename='attackbutton.js') }}"></script>
                {% include "components/tutorialbutton.html" %}
                <script src="{{ url_for('static', filename='tutorialbutton.js') }}"></script>
        </div>
</body>

</html>