<!-- Jinja2 for resusability-->
{% extends "Base.html" %}
{% block title %}Splash{% endblock %}
<!-- main content change this per page-->

{% block content %}
<div class="splash-container">
    <div class="splash-overlay"></div>
    <video class="splash-video" autoplay muted loop playsinline>
        <source src="{{ url_for('static', filename='videos/vault.mp4') }}" type="video/mp4">
        Your browser does not support the video tag.
    </video>

    <div class="splash-content">
        <h1 class="splash-title">Tēnā koe, nau mai haere mai.<br>Nau mai ki te whare taonga.</h1>
        <h2 class="splash-subtitle">Hello, we welcome you to the Vault!</h2>
        <a href="{{ url_for('login_bp.login') }}" class="splash-button">Let's Get Started!</a>
    </div>
</div>
{% endblock %}