<div class="fab" id="vulnFab" aria-haspopup="true" aria-expanded="false">
    <ul class="fab-menu" id="fabMenu" aria-hidden="true">

        <li class="fab-item" data-title="SQL Injection" data-subtitle="Inserting malicious SQL into database queries"
            data-execute="..."
            data-consequences="..."
            data-prevention="...">
            SQLI
        </li>

        <li class="fab-item" data-title="Broken User Authentication" data-subtitle="Flaws in login and session handling"
            data-execute="..."
            data-consequences="..."
            data-prevention="...">
            Auth
        </li>

        <li class="fab-item" data-title="Cross-Site Scripting (XSS)"
            data-subtitle="Injecting malicious JavaScript into pages viewed by other users"
            data-execute="..."
            data-consequences="..."
            data-prevention="...">
            XSS
        </li>

        <li class="fab-item" data-title="Broken Access Control" 
        data-subtitle="Users access things they shouldn’t"
            data-execute="..."
            data-consequences="..."
            data-prevention="...">
            AC
        </li>

        <li class="fab-item" data-title="Sensitive Data Exposure"
            data-subtitle="Poor protection of stored or transmitted data"
            data-execute="..."
            data-consequences="..."
            data-prevention="...">
            SDE
        </li>

    </ul>


    <button class="fab-main" id="fabToggle">≡</button>
</div>