<div id="attack-overlay" class="attack-overlay">
  <div class="attack-overlay-content">

    <button id="overlayClose" class="attack-overlay-close">&times;</button>


    <h2 id="overlayTitle"></h2>
    <h4 class="overlay-subtitle" id="overlaySubtitle"></h4>

    <section>
      <h4>How the attack is executed</h4>
      <p id="overlayExecute"></p>
    </section>

    <section>
      <h4>Consequences</h4>
      <p id="overlayConsequences"></p>
    </section>

    <section>
      <h4>Prevention / Safe Coding Tips</h4>
      <p id="overlayPrevention"></p>
    </section>

  </div>
</div>
